body {
    padding-top: 110px;
    height: 100%;
}

footer {
    margin-top: 30px;
    margin-bottom: 21px;
}

#recPanels.btn-warning, #menuPanels.btn-warning {
    border: 3px solid !important;
    border-color: #FFFFFF !important;
    border-radius: 7px !important;
}

.modal .modal-dialog {
    width: 800px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* removes outline of search button when modal is closed */
.modal-open .modal, a:focus {
    outline: none !important;
}

/* removes outline of the collapse button */
button#collapse, a:focus {
   outline: none !important;
}

.borderless td, .borderless th {
    border: none !important;
}

.btn {
    white-space:normal !important;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.easterEgg {
    cursor: pointer !important; 
    cursor: hand !important;
}

a > h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}