---
layout: default
title: DNA
order: 2
permalink: /recommendations/DNA/

discussion: 
    Question 1: Answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatum repellendus cumque aliquid deserunt distinctio ipsum praesentium accusamus, possimus sed. Dignissimos delectus nobis neque explicabo, fugit nulla et hic minima repellendus illum aliquid magni temporibus nisi voluptate eius, accusamus commodi ipsum libero expedita ab molestiae totam? Veniam fugiat inventore, nemo, perspiciatis facere ab fugit incidunt beatae quo delectus in odio expedita praesentium. Ratione ex a quas recusandae expedita omnis quam id cum, laboriosam sunt amet nostrum odit dolorum officia fugiat cupiditate quia laudantium repudiandae earum minima porro autem libero nemo accusantium. Amet cupiditate voluptatibus neque reprehenderit. Repellendus molestias impedit, quasi!

    Question 2: Answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, at. Autem dolorum dolor, dolorem molestiae fugit rerum sapiente magnam ullam similique temporibus fugiat vero exercitationem. Exercitationem non soluta tempore praesentium doloremque debitis omnis molestiae atque voluptate perspiciatis possimus rem, odio voluptatem dolorum delectus earum magnam dolorem. Quaerat, eum nihil voluptatibus!
---

<div class="container-fluid">
    
{% assign sorted = site.recommendations | sort: "order" %}

{% include sidemenu.html category=sorted %}

{% include recs-main.html %}

</div> <!-- container-fluid -->
