---
layout: default
main: true
---

<div class="jumbotron">
    <div class="container">
        <h1>Sequence Variant Nomenclature</h1>
        <div class="carousel">
            <div>
                <h2>What is the sequence variant nomenclature?</h2>
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div>
                {% for pg in site.pages %}
                    {% if pg.title == "Recent Additions" %}
                        <p>{{ pg.content | markdownify | truncatewords: 50 }}</p>
                    {% endif %}
                {% endfor %}
                <div>
                    <a href="{{ site.baseurl}}/recent" class="btn btn-md btn-warning pull-right">Read More</a>
                </div>
            </div>
            <div class="text-center">
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-page hidden-xs" data-href="https://www.facebook.com/HGVSmutnomen" data-tabs="timeline" data-width="500" data-height="250" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/HGVSmutnomen"><a href="https://www.facebook.com/HGVSmutnomen">HGVS</a></blockquote></div></div>

                <div class="fb-page hidden-sm hidden-md hidden-lg" data-href="https://www.facebook.com/HGVSmutnomen" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/HGVSmutnomen"><a href="https://www.facebook.com/HGVSmutnomen">HGVS</a></blockquote></div></div>
            </div>
            <div>
                <h2>Contact Us</h2>
                <p>{% include contact.html %}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Current Recommendations</h2>
        {% include recs/recs-panel.html %}
    </div>

    <hr>
    
    <div class="row">
        <h2>Background Material</h2>
        {% include bg/bg-panel.html %}
    </div>

</div>
