---
layout: default
---

<div class="container">
    <div class="jumbotron">
        <h1>Sequence Variant Nomenclature</h1>
        <div class="well">
            Placeholder for carousel
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <h2>Current Recommendations</h2>
    {% assign sorted_recs = site.recommendations | sort: "order" %}
    {% for cat in sorted_recs %}
    <!-- create a panel for every category in recommendations -->
        {% if (cat.title != "Recommendations") and cat.title %}
        <div class="panel panel-default col-md-offset-1 col-md-3 text-center">
            <h3><a href="{{ cat.url | prepend: site.baseurl }}">{{ cat.title }}</a></h3>
        </div>
        {% endif %}
    {% endfor %}
</div>



<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
