---
layout: default
title: RNA
order: 3
permalink: /recommendations/RNA
---

<div class="container">
    <div class="row">
        <h2>Variants</h2>
        {% for var in site.variant-priority %}
            {% for rec in site.recommendations %}
                <!-- create a link for every category in DNA -->
                {% if var == rec.title and rec.parent == "RNA" and rec.category == nil %}
                <a href="{{ rec.url | prepend: site.baseurl }}" class="col-sm-offset-1 col-sm-3 text-center btn btn-warning btn-sm hidden-sm hidden-xs" id="menuPanels"><h3>{{ rec.title | capitalize }}</h3></a>
                <a href="{{ rec.url | prepend: site.baseurl }}" class="col-xs-offset-1 col-xs-5 text-center btn btn-warning btn-md hidden-md hidden-lg" id="menuPanels">{{ rec.title | capitalize }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>