    <div class="col-md-10 recs-main">
        <div class="recs-title">
            <h1>{{ page.title }} <small>{{ sorted[0].title }}</small></h1>
        </div>

        <hr>
        
        <div class="recs-body">
            <div class="variant">
                <h2>Variants</h2>
            </div>
            
            {% for var in site.variant-priority %}
                {% for passage in include.category %}
                    {% if var == passage.title and passage.parent %}
                        <div class="panel panel-default" id="{{ passage.title | downcase }}">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ passage.title | capitalize }}</h3>
                            </div>
                            <div class="panel-body">
                                {{ passage.content }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if page.definition %}
                <div id="definition">
                    <h2>Definitions</h2>
                </div>
        
                <div class="panel panel-default">
                    <div class="panel-body">
                        
                        <dl class="dl-horizontal">
                    
                        {% for def in page.definition %}
                            <dt>{{ def[0] | capitalize }}</dt>
                            <dd>{{ def[1] }}</dd>
                        {% endfor %}

                        </dl>
                    </div>
                </div>
            {% endif %}

            {% if page.discussion %}
                <div id="discussion">
                    <h2>Discussion</h2>
                </div>
                {% for qa in page.discussion %}
                    <!-- assigns id according to number question in forloop (0 indexed) -->
                    <div class="panel panel-default" id="question{{ forloop.index0 }}">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ qa[0] | capitalize }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ qa[1] }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>