<div class="col-sm-2 well" id="sidemenu">
    <h4>Links</h4>
    <ul>
        <!-- create a list item for every category in recommendations -->
        {% for cat in include.category %}
            {% if (cat.title != "Recommendations") and cat.title and cat.parent == nil %}
            <!-- TODO differentiate link that is to current page -->
            <!-- TODO change "Recommendations" above -->
                <li>
                    <a href="{{ cat.url | prepend: site.baseurl }}">{{ cat.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
