<!-- INCOMPLETE. Reproduces all variant recommendations on a single page -->
    <div class="col-md-10 recs-main">
        <div class="recs-title">
            <h1>{{ page.title }} <small>Recommendations</small></h1>
        </div>

        <hr>
        
        <div class="recs-body">
                <h2>Variants

                <button type="button" id="collapse" class="btn btn-link pull-right" data-toggle="collapse" data-target=".variant" >
                    <span id="collapseIcon" class="glyphicon glyphicon-chevron-up"></span>
                </button>
                </h2>
            
            <div class="variant collapse in">
                {% for var in site.variant-priority %}
                    {% for passage in include.category %}
                        {% if var == passage.title and passage.parent %}
                            <div class="panel panel-default" id="{{ passage.title | downcase }}">
                                <div class="panel-heading">
                                    <h3>{{ passage.title | capitalize }}</h3>
                                </div>
                                <div class="panel-body">
                                    {{ passage.content }}
                                </div>
                                
                                {% for example in include.category %}
                                    {% if example.parent == passage.title %}
                                <div class="panel-footer">
                                    <h4>Examples</h4>
                                    {{ example.content }}
                                </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

            <!-- 
            Shows page definitions in alphabetical order if there are definitions
            Definitions are defined as YAML in the respective pages
             -->
            {% if page.definition %}
                <div id="definition">
                    <h2>Definitions</h2>
                </div>
        
                <div class="panel panel-default">
                    <div class="panel-body">
                        
                        <dl class="dl-horizontal">
                    
                        {% assign sorted_def = page.definition | sort %}
                        {% for def in sorted_def %}
                            <dt>{{ def[0] | capitalize }}</dt>
                            <dd>{{ def[1] }}</dd>
                        {% endfor %}

                        </dl>
                    </div>
                </div>
            {% endif %}

            {% if page.discussion %}
                <div id="discussion">
                    <h2>Discussion</h2>
                </div>
                {% for qa in page.discussion %}
                    <!-- assigns id according to number question in forloop (0 indexed) -->
                    <div class="panel panel-default" id="question{{ forloop.index0 }}">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ qa[0] | capitalize }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ qa[1] }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- removes outline when clicking on collapse button -->
    <style>
        button#collapse, a:focus
            {
               outline: none !important;
            }
    </style>