<div class="row">
    <h1>{{page.title}}<small>Recommendations</small></h1>
    <hr>
</div>
<div class="row">
    <h2>Variants</h2>
    {% for var in site.variant-priority %}
        {% for rec in site.recommendations %}
            {% comment %} create a link for every category in "sequence" {% endcomment %}
            {% if var == rec.title and rec.parent == page.title and rec.category == nil %}
            <a href="{{ rec.url | prepend: site.baseurl }}" class="col-sm-4 text-center btn btn-warning btn-sm hidden-sm hidden-xs" id="recPanels"><h3>{{ rec.title | capitalize }}</h3></a>
            <a href="{{ rec.url | prepend: site.baseurl }}" class="col-xs-6 text-center btn btn-warning btn-md hidden-md hidden-lg" id="recPanels">{{ rec.title | capitalize }}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
