{% assign category = site.recommendations | sort: "order" %}

{% for i in (0..1) %}
    {% if i == 0 %}
    <div class="col-md-2" id="affix" data-spy="affix" data-offset-top="50px">
        <div class="col-md-2 hidden-sm hidden-xs" id="sidemenu">
    {% else %}
        <div class="col-md-2 hidden-md hidden-lg well" id="sidemenu">
    {% endif %}

    <!-- create a list item for every category in recommendations -->
            {% for var in site.variant-priority %}
    {% comment %} Loop through all pages in recommendations {% endcomment %}
    {% for cat in site.recommendations %}
        {% comment %} If page is part of DNA, RNA or protein {% endcomment %}
        {% if cat.parent == "DNA" or cat.parent == "RNA" or cat.parent == "Protein" and cat.title == var %}
            {% comment %} Variant Links {% endcomment %}
            {% comment %} Loop through variant-priority to generate list items in order {% endcomment %}
                {% if var == cat.title and cat.category == nil and page.parent == cat.parent %}
                    {% comment %} Create list title {% endcomment %}
                    {% unless nestedVariantLabel %}
                        <h4>{{ page.parent }}</h4>
                        {% assign nestedVariantLabel = true %}
                    {% endunless %}

                    {% comment %} Create list items {% endcomment %}
                        <ul class="nav nav-pills">
                            <li id="{{ cat.parent }}">
                                <a href="{{ cat.url }}">{{ cat.title | capitalize }}</a>
                            </li>
                        </ul>
                {% endif %}
        {% endif %}
    {% endfor %}
            {% endfor %}

    {% comment %} Close divs {% endcomment %}
    {% if i == 0 %}
        </div> <!-- sidemenu -->
        {% assign nestedVariantLabel = false %}
    {% endif %}

    </div> <!-- affix -->

{% endfor %}
