<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="banner">
        <span style="font-size: larger; font-weight: bold">This site is obsolete.</span>
        <br/>
        The HGVS Nomenclature is now at <a
        href="https://hgvs-nomenclature.org/">https://hgvs-nomenclature.org/</a>.
        <br/>
        This site contains an archive of varnomen.hgvs.org and is no longer maintained.
    </div>
    
    {% if page.main %}
    {{ content }}
    {% else %}
    <div class="container">
        {% if page.last-modified %}
        <div class="last-modified pull-right">
            Last modified: {{ page.last-modified }}
        </div>
        {% endif %}
        {{ content }}
    </div>
    {% endif %}

    {% include footer.html %}

</body>

</html>