<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}
            
            {% if page.main %}
                {{ content | markdownify }}
            {% else %}
                <div class="container">
                    {% if page.last-modified %}
                    <div class="last-modified pull-right">
                        Last modified: {{ page.last-modified }}
                    </div>
                    {% endif %}
                    {{ content | markdownify }}
                </div>
            {% endif %}

        {% include footer.html %}

    </body>

</html>
